.quizzes {
  margin: auto;
  font-family: sans-serif;
  max-width: 50%;
}

.quiz-list {
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 1em;
}

h3{
      color: #6E7CF9;
}

.quiz-item {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  transition: background-color 0.4s;
}

.quiz-item:nth-child(odd) {
  background-color: #ECECEC;
}

.quiz-item:nth-child(even) {
  background-color: #F0F0F0;
}

.quiz-item:hover {
  background-color: #d0d0d0;
}

.quiz-title,
.quiz-author {
  text-decoration: none;
    color: #6E7CF9;
}

.quiz-title:hover,
.quiz-author:hover {
  text-decoration: underline;
}

.del-btn{
  background-color: #e6baba;
  border: 0;
}

.del-btn:hover{
  background-color: #f26767;
}

.del-btn:focus {
  outline: none;
  box-shadow: none;
}