.login-form {
  margin: 2em;
  width: 100%;
  background: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  /* padding-top: 0.5em;
  padding-bottom: 0.5em; */
  padding: 0.5em 0.2em;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.login-form button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-size: 0.95rem;
  text-align: center;
}
