.form-container{
  width: 40%;
  margin: 2rem auto;
  padding: 1rem;
}

form{
  background-color: #f9f9f9;
  border-radius: 8px;
}

input{
    padding: 0.5rem;
    font-size: 1rem;
}

.form-head{
    display: flex;
    gap: 1em;
    margin-bottom: 1rem;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #6E7CF9;
}

.quiz-title-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.input-pair {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.input-pair input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 45%;
}

.submit-btn {
  display: block;
  margin: 1rem auto 0;
  padding: 0.6rem 1.5rem;
  background-color: #6E7CF9;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.submit-btn:focus {
  outline: none;
  box-shadow: none;
}

.del-btn{
  background-color: #dc3545;
  border: 0;
  color: white;
  display: block;
  margin: 1rem auto 0;
  padding: 0.6rem 1.5rem;
  font-weight: bold;
}

.del-btn:hover{
  background-color: #a71d2a;
}

.del-btn:focus {
  outline: none;
  box-shadow: none;
}
