.main-page {
  height: 100vh;
  width: 100vw;
  background-color: #f5f7fa;
}

/* 
.navbar {
  display: flex;
  background-color: #007bff;
}

.navbar button {
  flex: 1;
  padding: 1rem;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  border-radius: 0;
}

.navbar button:hover {
  background-color: #0056b3;
}

.main-content {
  padding: 2rem;
  text-align: center;
} */